.errorMessage {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.successMessage {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.blogBlock {
    padding-top: 10px;
    padding-left: 2px;
    border: solid 1px black;
    margin-bottom: 5px;
}
